.main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
    background-color: rgb(243, 243, 243);

    .homeBtn {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 20px 30px;
        border: none;
        border-radius: 8px;
        font-size: 40px;
        font-weight: bold;
        line-height: 60px;
        color: black;
        background-color: transparent;
        cursor: pointer;
    }

    .bakery_info {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 800px;
        height: 200px;
        gap: 20px;
        background-color: white;

        .interestBtn {
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px 5px;
        }

        .name {
            font-size: 40px;
            font-weight: bold;
        }

        .main_info {
            display: flex;
            gap: 30px;
            font-size: 16px;
        }
    }

    .bakery_breadList {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 20px 0;
        gap: 15px;
        width: 800px;
        height: 100px;
        background-color: white;

        .breadList {
            display: flex;
            gap: 10px;
            .one_bread {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
                padding: 2px 10px;
                border-radius: 16px;
            }
        }
    }

    .bakery_review {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        padding: 50px;
        width: 800px;
        height: 600px;
        background-color: white;

        .scores_review {
            display: flex;
            padding-bottom: 20px;
            border-bottom: 1px solid rgb(239, 239, 239);

            .total_score {
                display: flex;
                flex-direction: column;

                .total_review {
                    font-size: 16px;
                    font-weight: bold;
                }
        
                .score {
                    font-size: 24px;
                    font-weight: bold;
                }
            }

            .reviewBtn {
                margin-left: auto;
            }
        }

        .review_collection {
            overflow-y: auto;
            -ms-overflow-style: none;

            .one_review {
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 15px 0;
                border-bottom: 1px solid rgb(239, 239, 239);
    
                .user_info {
                    display: flex;
                    gap: 10px;
    
                    .name {
                        font-weight: bold;
                        line-height: 16px;
                    }
    
                    .level {
                        color: gray;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

.modalPage {
    position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    .modalContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        height: 600px;
        background-color: white;

        .word {
            padding: 20px 0;
            font-size: 24px;
            text-align: center;
            width: 100%;
            border-bottom: 1px solid rgb(239, 239, 239);
        }

        .starRating {
            text-align: center;
            padding: 20px;
            width: 100%;
            border-bottom: 1px solid rgb(239, 239, 239);

            .star {
                font-size: 40px;
            }
        }
        
        .recommand_category {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
            width: 100%;
            gap: 10px;
            border-bottom: 1px solid rgb(239, 239, 239);

            .categoryList {
                display: flex;
                gap: 10px;

                .item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    padding: 5px 0;
                    color: gray;
                    border: 1px solid gray;
                    font-size: 12px;
                    border-radius: 16px;
                    cursor: pointer;
                }
            }
        }

        .comment {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            gap: 20px;

            .commentBox {
                color: black;
                background-color: white;
            }
            
            .btnCollection {
                display: flex;
                gap: 20px;
                
                .btn {
                    padding: 16px 48px;
                    border-radius: 16px;
                    background-color: black;
                    color: white;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}