/* 민트 : #AAF0D1 <- 메인컬러 */
/* 연보라 : #E0B0FF <- 포인트컬러*/

.markerInfoBox {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 140px;
	padding: 20px;
	gap: 8px;

	.title {
		font-size: 18px;
	}

	.score {
		color: rgb(236, 104, 99);
		font-size: 14px;
		padding-bottom: 5px;
	}

	.address {
		font-size: 14px;
	}
	
	.goMoreInfo {
		color: rgb(87, 126, 202);
		font-size: 12px;
	}

	.offBtn {
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 5px
	}
}

.toggleBtnBox {
	position: absolute;
	height: 100%;
	z-index: 30;

	.toggleBtn {
		position: absolute;
		top: 45%;
		width: 18px;
		height: 44px;
		border: none;
		border-radius: 0 4px 4px 0;
		color: black;
		background-color: white;
		cursor: pointer;
	}
}
  
.custom_btn {
	position: absolute;
	overflow: hidden;
	top: 10px;
	right: 10px;
	z-index: 30;
	font-size: 16px;

	.go_login {
		padding: 5px 12px;
		border: none;
		border-radius: 4px;
		font-size: 16px;
		background-color: #E0B0FF;
		cursor: pointer;
	}
}

.currentLoc {
	position: absolute;
	top: 10px;
	right: 100px;
	z-index: 30;

	.currentLocBtn {
		padding: 5px 12px;
		border: none;
		border-radius: 4px;
		font-size: 16px;
		background-color: #E0B0FF;
		cursor: pointer;
	}
}
  
.myPage {
	position: absolute;
	top: 10px;
	right: 200px;
	z-index: 30;

	.myPageBtn {
		padding: 5px 12px;
		border: none;
		border-radius: 4px;
		font-size: 16px;
		background-color: #E0B0FF;
		cursor: pointer;
	}
}
  
.addBakery {
	position: absolute;
	top: 10px;
	right: 315px;
	z-index: 30;

	.addBakeryBtn {
		padding: 5px 12px;
		border: none;
		border-radius: 4px;
		font-size: 16px;
		background-color: #E0B0FF;
		cursor: pointer;
	}
}