/* 민트 : #AAF0D1 <- 메인컬러 */
/* 연보라 : #E0B0FF <- 포인트컬러*/

.info_box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  float: left;
  width: 400px;
  height: 100vh;
  z-index: 30;
  background-color: white;

  .info_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
    background-color: #AAF0D1;

    .logoWord {
      padding: 20px 20px;
      color: gray;
      font-size: 24px;
      font-weight: bold;
    }

    .inputBox {
      display: flex;
      align-items: center;
      justify-content: center;
      
      .textBox {
        width: 300px;
        height: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px 0 0 4px;
        outline: none;
        font-size: 16px;
        color: gray;
        background-color: white;
      }

      .searchBtn {
        width: 60px;
        height: 100%;
        padding: 10px;
        border: none;
        border-radius: 0 4px 4px 0;
        font-size: 16px;
        background-color: black;
        cursor: pointer;
        color: gray;
        background-color: white;
      }
    }

    .navBar {
      display: flex;
      width: 100%;
      padding: 20px 0;
      flex: 1;

      .menu {
        display: flex;
        padding: 0 20px;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;

        .tab {
          padding: 5px 15px;
          border-radius: 4px;
          color: gray;
          cursor: pointer;
        }
      }
    }
  }

  .info_main_search {
    flex: 1;

    .around_search {
      padding: 20px;

      .title {
        font-size: 18px;
        font-weight: bold;
      }

      .category {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        padding-top: 20px;
        gap: 10px;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 110px;
          height: 110px;
          color: gray;
          border: 1px solid gray;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }

  .info_main_rank {
    flex: 1;
    
    .rank_category {
      padding: 20px;
      border-bottom: 1px solid rgb(238, 238, 238);
      
      .title {
        font-size: 18px;
        font-weight: bold;
      }

      .category {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-top: 20px;
        gap: 10px;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          padding: 5px 0;
          color: gray;
          border: 1px solid gray;
          font-size: 12px;
          border-radius: 16px;
          cursor: pointer;
        }
      }
    }
  }

  .info_main_interest {
    flex: 1;

    .interests {
      padding: 20px;

      .title {
        font-size: 18px;
        font-weight: bold;
      }

      .bakery {
        display: flex;
        padding: 20px 0;

        .rank {
          font-weight: bold;
        }

        .bakery_info {
          padding: 0 20px;
        }
      }
    }
  }
}

.toggleBtnBox {
  position: absolute;
  height: 100%;
  z-index: 30;

  .toggleBtn {
    position: absolute;
    top: 45%;
    width: 18px;
    height: 44px;
    border: none;
    border-radius: 0 4px 4px 0;
    color: black;
    background-color: white;
    cursor: pointer;
  }
}

.custom_btn {
  position: absolute;
  overflow: hidden;
  top: 10px;
  right: 10px;
  z-index: 30;
  font-size: 16px;

  .go_login {
    font-size: 16px;
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
    background-color: #E0B0FF;
  }
}